.TopMenu {
    height: 100%;
    top: 50%;
}

.GenerationSection {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}

.SolveSection {
    width: 33%;
    height: 100%;
    display: inline-block;
    text-align: center;
    /* margin: 0 auto; */
}

.ControlSection {
    width: 33%;
    height: 100%;
    float: right;
    text-align: center;
}