body {
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.center {
  margin: 0 auto;
  /* width: 1600px; */
}

.upperMenu {
  height: 20%;
  margin: 0 auto;
  min-width: 1465px;
}

.maze {
  height: 80%;
  /* width: 75%;
  margin: 0 auto; */
}