.node {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 2px;
    position: relative;
}

.start {
    background-color: orange !important;
}

.start_s {
    background: linear-gradient(135deg, orange 70%, white 30%);
}

.end {
    background-color: Tomato !important;
}

.end_s {
    background: linear-gradient(135deg, Tomato 70%, white 30%);
}

.wall {
    background-color: DodgerBlue !important;
}

.visited {
    background-color: lightgray !important;
}

.path {
    background-color: Lime !important;
}