.node {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 2px;
    position: relative;
}

.start {
    background-color: orange !important;
}

.end {
    background-color: Tomato !important;
}

.wall {
    background-color: DodgerBlue !important;
}

.seen {
    background-color: gray !important;
}

.path {
    background-color: Lime !important;
}